// VARIABLES
$body-bg: #f8fafc;
$amarillo:#fbcf33;
$rojoQuote: #8c1515 !important;
$quoteText:#ffffff;
$positionQuote:center;
$fuente: var(--bs-body-font-family);
$fontFamily:$fuente;
$botonAmarillo:$amarillo;
$titulo:2.5rem;
$bajadaTexto:1.5rem;



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root{
 --fuente: var(--bs-body-font-family);
}


html{
    font-family: var(--fuente);
}


